<div class="page-header m_head">
		<a href="javascript:history.go(-1)" class="glyphicon glyphicon-chevron-left"></a><h3>{{page.title}}<span class="glyphicon glyphicon-align-justify"></span></h3>
	</div>
<div class="homePage">
	<div class="content center">
		更多优惠券<br/>
		<img style="width:40%;height:40%;" alt="聊天资源" title="技术交流 " src="img/594401799.png"/><br/>
		<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=0028ee34b15216e6606ecf397d8cb183713d030f9380ed2549e71690d3339491"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="java大数据机器学习" title="java大数据机器学习"></a>QQ群594401799
	</div>
</div>